.vistaRegister {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;


        .header{
            margin: 1em;
            background-color: grey;
        }
    
        .form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $primary;

            font-family: 'Allura';
            color: $secondary;
            font-size: 1.5em;
    }
}

h2 {
    margin: 1em;
}
