.userOrderContainer {

    height: 200vh;
    background-color: $secondary;
}

.userOrdersContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-left:1em;
    margin-right: 1em;
}

.delete {
    height: 1.5em;
    width: 3em;
    color: $tertiary;
    border: 1px solid red;
    background-color: red;
    border-radius: 0.1em;
}

.delete:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.meOrders {
    margin: 1em 0 1em 1em;
    color: $tertiary;
}

.AllOrderCards {
    background-color: $primary;

    margin: 0.5em;
}

.movierented {
    margin: 0 0.2em 0.5em 1em;
    font-family: 'Allura';
    color: $tertiary;
}